In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DateType, DecimalType, IntegerType

# Build SparkSession
#spark = SparkSession.builder.master("local[*]").appName("ETL Pipeline").getOrCreate()

# Set Logging Level to WARN
#spark.sparkContext.setLogLevel("WARN")

In [12]:
spark = SparkSession.builder.appName('taxis').getOrCreate()
df=spark.read.option("header", "true").csv("../Data/Taxis.csv")

In [16]:
Vendor_columns=["Id_Vendor","Vendor_Name"]
Vendor=[(1,"Creative Mobiles Technologies"),(2,"VeriFone Inc.")]
df_vendor=spark.createDataFrame(Vendor,Vendor_columns)
df_vendor.show()

+---------+--------------------+
|Id_Vendor|         Vendor_Name|
+---------+--------------------+
|        1|Creative Mobiles ...|
|        2|       VeriFone Inc.|
+---------+--------------------+

In [19]:
Rate_columns=['Id_Rate', 'Rate_Name']
Rate=[
    (1,"Standard rate"),
    (2,"JFK"),
    (3,"Newark"),
    (4,"Nassau or Westchester"),
    (5,"Negotiated fare"),
    (6,"Group ride")]

df_rate=spark.createDataFrame(Rate,Rate_columns)
df_rate.show()

+-------+--------------------+
|Id_Rate|           Rate_Name|
+-------+--------------------+
|      1|       Standard rate|
|      2|                 JFK|
|      3|              Newark|
|      4|Nassau or Westche...|
|      5|     Negotiated fare|
|      6|          Group ride|
+-------+--------------------+